# =========================
# .NET / Visual Studio
# =========================
.vs/
bin/
obj/
*.user
*.suo
*.sln.docstates

# =========================
# Python
# =========================
__pycache__/
*.pyc
venv/

# =========================
# Angular / Node
# =========================
node_modules/
dist/